body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.project-container{
  border: 2px solid #c79c9c;
  margin-top: 50px;
  padding: 20px;
}
.container-header{
  text-align: center;
  margin-top: 10px;
}
.my-header{
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f58b23;
}
.alert {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
  align-self: flex-start;
}

.error-dailog {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.success-dailog{
  background-color: #46b346;
  color: white;
}